# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-lock.yaml
.pnpm-debug.log

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

/generated/prisma


# Coverage reports
coverage/
coverage-final.json
lcov-report/

# Environment files
.env
.env.local
.env.*.local

# IDE & OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Test artifacts
*.test.ts.snap
test-results/
jest-html-reporters-*

# Docker
*.tar
*.pid
*.sock
